@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  cursor: crosshair;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::selection {
  background: white;
  color: black;
}

canvas {
  touch-action: none;
}
